@import "tailwindcss";

/* Custom Themes and Classes */
/* .radial-bg {
  background: radial-gradient(circle at center, #AEAEF3 0%, #D3D3EA 88%);
} */



body {
  min-height: 100vh;
  background: linear-gradient(-25deg, #AEAEF3 0%, #D3D3EA 88%);
  color: #1f2937; /* Tailwind gray-800 */
} 